@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

body {
    font-family: Roboto-Light;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #333333;
    color: whitesmoke
}

.table{
    background-color : black;
    color :whitesmoke;
    border: hidden;
    border-radius : 10px;
}

.table > td{
    
}

    .table > tbody > tr {
        
        background-color: #42474f;
        border : hidden;
        

    }

.table > tbody >tr:hover{
    background-color:darkgray;
    color :black;


}

        .table > tbody > tr:last-of-type {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

    .table > tbody > tr:last-of-type > td:first-child {
        
        border-bottom-left-radius :10px;

    }
.table > tbody > tr:last-of-type > td:last-child {
                border-bottom-right-radius: 10px;
}

a{
    color:white;
}


button {
    background-color: black;
    color: whitesmoke;
    border-color: black;
}

.btn{
    background-color : black;
    color: whitesmoke;
    border-color : black;
}

.btn:hover{
    background-color : gray;
    border-color : white;
    color : black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
